{% extends "main/base.html" %}
{% block content %}
<div class="text-center">
  <span class="h1 border rounded border-primary">Time spent on {{time_range}}</span>
</div>
<div class="row mt-5">
    <div class="col-sm-7">
        <canvas id="myChart"></canvas>
    </div>
    <div class="col-sm-3">
      <table class="table table-sm table-hover">
        <thead>
          <tr class="bg-white">
            <th scope="col">#</th>
            <th scope="col">Project</th>
            <th scope="col">Time spent</th>
            <th scope="col">Tasks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="background-color: #3399ff;" scope="row">1</th>
            <td style="background-color: #3399ff;">Shiten</td>
            <td style="background-color: #3399ff;">{{data2.1000}}</td>
            <td style="background-color: #3399ff;">{{shiten_tasks.count}}</td>
          </tr>
          <tr>
            <th style="background-color: #ff6699;" scope="row">2</th>
            <td style="background-color: #ff6699;">Garage Sales</td>
            <td style="background-color: #ff6699;">{{data2.2000}}</td>
            <td style="background-color: #ff6699;">{{grs_tasks.count}}</td>
          </tr>
          <tr>
            <th style="background-color: #ff9900;" scope="row">3</th>
            <td style="background-color: #ff9900;">Other</td>
            <td style="background-color: #ff9900;">{{data2.3000}}</td>
            <td style="background-color: #ff9900;">{{other_tasks.count}}</td>
          </tr>
        </tbody>
      </table>
      <form  method="get">
        <div class="form-row">
          <label for="time_start">From</label>
          <input value="{{time_start}}" class="form-control" type="date" name="time_start" id="time_start">
        </div>
        <div class="form-row">
          <label for="time_end">To</label>
          <input value="{{time_end}}" class="form-control" type="date" name="time_end" id="time_end">
        </div>
        <div class="form-row mt-2">
          <button type="submit" class="form-control btn btn-primary">OK</button>
        </div>
      </form>
      
    </div>
</div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
    var data = JSON.parse("{{data|escapejs}}");
    new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Shiten',  'Garage Sales', 'Other'],
        datasets: [{
          label: 'Time spent',
          data: [data['1000'],data['2000'],data['3000']],
          borderWidth: 2,
        }],
        hoverOffset: 4
      },
    });
    Chart.defaults.color = '#000';
  </script>

{% endblock content %}