<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for i in data %}
        <h1>{{i.grand}}</h1>
        {% for x in i.parent_and_child %}
        
            {% for d in  x %}
                {% if forloop.counter == 1%}
                    <h2 style="margin: 10px;">{{d}}</h2>
                {%else%}
                    <h3 style="margin: 100px;">{{d}}</h3>
                {%endif%}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</body>
</html>