<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- {% for i in data %}
        <h1>{{i.id}}</h1>
        {% for x in i %}
            <h3>{{x.id}}</h3>
            {% for y in x %}
                <h6>{{y.id}}</h6>
            {% endfor %}
        {% endfor %}
    {% endfor %} -->
</body>
</html>