{% extends "main/base.html" %}
{% block content %}

<div class=" d-flex justify-content-center">
  <span class="h1 border rounded border-primary mb-4">Task Process</span>
</div>
<table class="table table-bordered border border-dark table-hover m-auto table-responsive">
    <thead style="vertical-align: middle;" class="text-center" >
      <tr>
        <th scope="col">ID</th>
        <th style="width: 60ch;" scope="col">Title</th>
        <th>Type</th>
        <th>Time Spent</th>
        <th scope="col">Status</th>
        <th scope="col">%</th>
        <th scope="col">Assignee</th>
        <th scope="col">Note</th>
        <th scope="col">Updated</th>
      </tr>
    </thead>
    <tbody style="vertical-align: middle;">
      
        {% for task in data %}
            <tr>
                <th class="text-center" scope="row">{{task.grand.id}}</th>
                <td><a class="text-decoration-none" href="#">{{task.grand.task_title}}</a></td>
                <td class="text-center" >{{task.grand.type.type}}</td>
                <td class="text-center"> {{task.grand.spent_time}}</td>
                <td class="text-center" >{{task.grand.status.status}}</td>
                <td>
                  <div class="progress " style="width: 10ch;">
                    <div class="progress-bar" role="progressbar" style="width: {{task.grand.done_ratio}}%;" aria-valuenow="{{task.grand.done_ratio}}" aria-valuemin="0" aria-valuemax="100">{{task.grand.done_ratio}}</div>
                  </div>
                </td>
                <td class="text-center">{{task.grand.person_in_charge.name}}</td>
                <td>{{task.grand.note|truncatechars:30}}</td>
                <td class="text-center">{{task.grand.updated_date|timesince}}</td>
            </tr>
        
            {% for parent_and_child_task in task.parent_and_child %}
                {% for parent_or_child_task in parent_and_child_task %}
                    <tr>
                        <th scope="row">{{parent_or_child_task.id}}</th>
                        {% if forloop.counter == 1 %}
                        <td><p style="margin-left: 15px;">╚ <a class="text-decoration-none" href="#">{{parent_or_child_task.task_title}}</a></p></td>
                        <td class="text-center">{{parent_or_child_task.type.type}}</td>
                        <td class="text-center">{{parent_or_child_task.spent_time}}</td>
                        <td class="text-center">{{parent_or_child_task.status.status}}</td>
                        <td>
                          <div class="progress" style="width: 10ch;">
                            <div class="progress-bar" role="progressbar" style="width: {{parent_or_child_task.done_ratio}}%;" aria-valuenow="{{parent_or_child_task.done_ratio}}" aria-valuemin="0" aria-valuemax="100">{{parent_or_child_task.done_ratio}}</div>
                          </div>
                        </td>
                        <td class="text-center">{{parent_or_child_task.person_in_charge.name}}</td>
                        <td>{{parent_or_child_task.note|truncatechars:30}}</td>
                        <td class="text-center">{{parent_or_child_task.updated_date|timesince}}</td>
                        {% else %}
                        <td><p style="margin-left: 30px;">╚ <a class="text-decoration-none" href="#">{{parent_or_child_task.task_title}}</a></p></td>
                        <td class="text-center">{{parent_or_child_task.type.type}}</td>
                        <td class="text-center">{{parent_or_child_task.spent_time}}</td>
                        <td class="text-center">{{parent_or_child_task.status.status}}</td>
                        <td>
                          <div class="progress" style="width: 10ch;">
                            <div class="progress-bar" role="progressbar" style="width: {{parent_or_child_task.done_ratio}}%" aria-valuenow="{{parent_or_child_task.done_ratio}}" aria-valuemin="0" aria-valuemax="100">{{parent_or_child_task.done_ratio}}</div>
                          </div>
                        </td>
                        <td class="text-center">{{parent_or_child_task.person_in_charge.name}}</td>
                        <td>{{parent_or_child_task.note|truncatechars:30}}</td>
                        <td class="text-center">{{parent_or_child_task.updated_date|timesince}}</td>
                        {% endif %}
                    </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </tbody>
  </table>
{% endblock content %}